In [6]:
import math as m

f = open('temperaturas.txt')

T=[]
while True:
	linea = f.readline()
	if not linea:
		break
	if linea[0] == '#':
		continue
	datos = linea.split('@')
	if not datos:
		continue
	tempf = datos[1]
	T.append(float(tempf))

#tempk = [ 5/9*(T[i]-32) + 273.15 for i in range(len(T)) ]
tempk = [ 5/9 * (t-32) + 273.15     for t in T ]


f.close()

print('%.4f'%(max(tempk)))
print('%.4f'%(min(tempk)))

466.5389
420.4278

In [8]:
[ 5/9 * (t-32) + 273.15     for t in T ]

[447.0388888888889,
 449.8722222222222,
 434.76111111111106,
 436.3166666666666,
 463.26111111111106,
 447.65,
 421.59444444444443,
 433.15,
 466.5388888888889,
 420.4277777777778,
 424.4833333333333,
 447.8166666666666,
 459.3722222222222]

In [11]:
def g(x):
    n = len(x)
    mean = sum(x) / n
    numerador = 1/n * sum([ (e-mean)**3 for e in x ])
    denominador = (1/n * sum([ (e - mean)**2 for e in x]))**(3/2)
    return numerador/ denominador

g(tempk)

0.030954315898643114

In [10]:
sum([1, 2, 3])

6